/* NAVBAR SECTION ----------------------------- */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.header-small {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.logo {
  width: 200px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: calc(var(--content-width) - 200px);
}

.navbar-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 48px;
  list-style: none;
  width: 100%;
  font-size: 18px;
  font-family: var(--main-font);
  font-weight: 600;
  padding: 0;
}

.navbar-small {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  position: absolute;
  right: 36px;
}

.navbar-list-small {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  background-color: white;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100px;
  right: -36px;
  z-index: 2;
  height: calc(100vh - 100px);
  box-shadow: -3px 5px 10px -3px rgba(244, 206, 20, 0.4);
  font-family: var(--main-font);
  font-weight: 600;
}

.navbar-list-small > .navbar-item {
  min-height: 60px;
  display: flex;
  align-items: center;
}

.navbar-link {
  text-decoration: none;
  color: var(--highlight-black-color);
}

.navbar-link:hover {
  border-bottom: 2px solid var(--primary-yellow-color);
  color: var(--primary-green-color);
  transition: ease-in-out 0.1s;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* HERO SECTION ----------------------------- */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-green-color);
  height: 400px;
  width: 100%;
}

.hero-image {
  width: 320px;
  height: 340px;
  border-radius: 16px;
}

.hero-container {
  width: calc(var(--content-width));
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  width: 400px;
  font-family: var(--main-font);
}

.hero-content {
  width: 80%;
  margin: 24px 0px 48px;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.hero-title,
.hero-subtitle {
  font-family: var(--title-font);
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1;
}

.hero-title {
  font-size: 56px;
  color: var(--primary-yellow-color);
  opacity: 0.8;
}

.hero-subtitle {
  font-size: 32px;
  color: white;
}

/* HIGHLIGHTS SECTION ----------------------------- */
.highlights {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
}

.highlights-container {
  width: var(--content-width);
  display: flex;
  flex-direction: column;
}

.highlights-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 56px;
  font-family: var(--title-font);
  font-weight: 400;
  color: var(--highlight-black-color);
  height: 120px;
}

.highlights-articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-bottom: 48px;
}

.highlights-articles > article {
  border-radius: 16px;
  border: 1px solid var(--highlight-grey-color);
  position: relative;
  height: 600px;
  background-color: var(--highlight-grey-color);
}

.highlights-articles > article > img {
  width: 100%;
  height: 280px;
  border-radius: 16px;
}

.dish-title,
.dish-description {
  padding: 0px 24px;
}

.highlights-articles > article > h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dish-description {
  color: var(--primary-green-color);
}

.dish-name {
  font-size: 24px;
  font-family: 'Markazi Text', serif;
  font-weight: 550;
  color: var(--highlight-black-color);
}

.dish-price {
  font-size: 16px;
  font-weight: 600;
  color: var(--secondary-orange-color);
}

/* TESTIMONIALS SECTION ----------------------------- */
.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 360px;
  width: 100%;
  background-color: var(--highlight-grey-color);
}

.testimonials-container,
.about-container {
  width: var(--content-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials-title,
.about-title {
  font-size: 36px;
  font-family: var(--title-font);
  font-weight: 400;
  color: var(--highlight-black-color);
  margin: 0;
}

.testimonials-articles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  font-family: var(--main-font);
}

.rating-post {
  width: 200px;
  height: max-content;
  font-size: 14px;
}

.rating-author {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  font-size: 14px;
}

.rating-img {
  width: 75px;
  height: 75px;
}

.rating-content {
  padding: 0px 24px 0px 0px;
  color: var(--primary-green-color);
}

/* ABOUT SECTION ----------------------------- */
#about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 36px;
}

.about-content {
  font-family: var(--main-font);
  font-size: 16px;
  color: var(--primary-green-color);
  width: 100%;
  text-align: justify;
  margin: 6px 0px;
}

.founders {
  margin: 12px 0px;
  width: 560px;
  height: 380px;
  border-radius: 16px;
}

.about-figcaption {
  font-family: var(--main-font);
  font-size: 14px;
  color: #a6a6a6;
  width: 100%;
  text-align: center;
}

/* FOOTER SECTION ----------------------------- */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0px;
  margin-top: 48px;
  background-color: var(--primary-green-color);
  color: white;
  font-family: var(--main-font);
  font-size: 16px;
}

.footer-container {
  width: var(--content-width);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.footer-logo {
  width: 100px;
  height: 172px;
}

.footer-navbar-list,
.footer-contact,
.footer-social {
  font-weight: 600;
}

.footer-contact-list,
.footer-social-list,
.footer-navbar-list {
  list-style: none;
  padding: 0;
}

.footer-contact-list {
  font-size: 15px;
  font-weight: 500;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  gap: 12px;
  font-weight: 500;
}

.footer-social-list > li {
  cursor: pointer;
}

.footer-navbar-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  height: 100%;
}

.footer-navbar-link {
  text-decoration: none;
  color: white;
}

.footer-navbar-link:hover {
  border-bottom: 1px solid white;
  transition: ease-in-out 0.1s;
}

/* MEDIA QUERIES */
@media (width < 980px) {
  .logo {
    width: 72px;
    height: 100px;
  }

  .navbar {
    width: calc(var(--content-width) - 72px);
  }

  .navbar-list {
    gap: 18px;
    font-size: 16px;
  }

  .highlights-articles {
    grid-template-columns: repeat(2, 1fr);
  }

  .testimonials {
    height: max-content;
  }

  .testimonials-articles {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 660px) {
  .hero-container {
    justify-content: center;
    height: max-content;
  }

  .hero-image {
    display: none;
  }

  .highlights-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 24px;
  }

  .highlights-header > h1 {
    padding: 0;
    margin: 0;
  }

  .highlights-articles {
    grid-template-columns: repeat(1, 1fr);
    align-self: center;
  }
  .highlights-articles > article {
    width: 320px;
  }

  .testimonials-articles {
    grid-template-columns: repeat(1, 1fr);
  }

  .founders {
    width: 320px;
    height: 240px;
  }
}
