.yellow-button {
  padding: 10px 22px;
  background-color: var(--primary-yellow-color);
  color: var(--highlight-black-color);
  font-size: 16px;
  font-family: var(--main-font);
  font-weight: 600;
  border: 1px solid var(--primary-yellow-color);
  border-radius: 16px;
  cursor: pointer;
}

.delivery-button {
  margin-left: 24px;
  background-color: transparent;
  border: transparent;
  position: absolute;
  bottom: 36px;
  padding: 0;
  font-size: 16px;
  font-family: var(--main-font);
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

/* NAVBAR SECTION */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo {
  width: 200px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: calc(var(--content-width) - 200px);
}

.navbar-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 48px;
  list-style: none;
  width: 100%;
  font-size: 18px;
  font-family: var(--main-font);
  font-weight: 600;
  padding: 0;
}

.navbar-link {
  text-decoration: none;
  color: var(--highlight-black-color);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* HERO SECTION */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-green-color);
  height: 400px;
  width: 100%;
}

.hero-image {
  width: 320px;
  height: 340px;
  border-radius: 16px;
}

.hero-container {
  width: calc(var(--content-width));
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  width: 400px;
  font-family: var(--main-font);
}

.hero-content {
  width: 80%;
  margin: 24px 0px 48px;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.hero-title,
.hero-subtitle {
  font-family: var(--title-font);
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1;
}

.hero-title {
  font-size: 56px;
  color: var(--primary-yellow-color);
  opacity: 0.8;
}

.hero-subtitle {
  font-size: 32px;
  color: white;
}

/* HIGHLIGHTS SECTION */
.highlights {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
}

.highlights-container {
  width: var(--content-width);
  display: flex;
  flex-direction: column;
}

.highlights-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 56px;
  font-family: var(--title-font);
  font-weight: 400;
  color: var(--highlight-black-color);
}

.highlights-articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.highlights-articles > article {
  border-radius: 16px;
  border: 1px solid var(--highlight-grey-color);
  position: relative;
  height: 600px;
  background-color: var(--highlight-grey-color);
}

.highlights-articles > article > img {
  width: 100%;
  height: 280px;
  border-radius: 16px;
}

.dish-title,
.dish-description {
  padding: 0px 24px;
}

.highlights-articles > article > h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dish-description {
  color: var(--primary-green-color);
}

.dish-name {
  font-size: 24px;
  font-family: 'Markazi Text', serif;
  font-weight: 550;
  color: var(--highlight-black-color);
}

.dish-price {
  font-size: 16px;
  font-weight: 600;
  color: var(--secondary-orange-color);
}

/* TESTIMONIALS SECTION */
.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.testimonials-container {
  width: var(--content-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials-title {
  font-size: 36px;
  font-family: var(--title-font);
  font-weight: 400;
  color: var(--highlight-black-color);
}

/* ABOUT SECTION */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.about_container {
  width: var(--content-width);
}

/* FOOTER SECTION */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 420px;
}

.footer_container {
  width: var(--content-width);
}

@media (width < 980px) {
  .logo {
    width: 72px;
    height: 100px;
  }

  .navbar {
    width: calc(var(--content-width) - 72px);
  }

  .navbar-list {
    gap: 18px;
    font-size: 16px;
  }
}
