.App {
  width: 100vw;
}

/* NAVBAR SECTION */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.navbar_container {
  display: flex;
  flex-direction: row;
  width: var(--content-width);
  height: 100%;
}

.navbar_left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.navbar_logo {
  width: 100%;
}

.navbar_right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 36px;
  list-style: none;
  width: calc(100% - 200px);
  font-size: 18px;
  font-family: var(--main-font);
  font-weight: 600;
  padding: 0;
}

.navbar_link {
  text-decoration: none;
  color: var(--highlight-black-color);
}

/* HERO SECTION */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-green-color);
  height: 400px;
  width: 100%;
}

.hero_container {
  width: var(--content-width);
}

/* HIGHLIGHTS SECTION */
.highlights {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
}

.highlights_container {
  width: var(--content-width);
}

/* TESTIMONIALS SECTION */
.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.testimonials_container {
  width: var(--content-width);
}

/* ABOUT SECTION */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.about_container {
  width: var(--content-width);
}

/* FOOTER SECTION */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 420px;
}

.footer_container {
  width: var(--content-width);
}

@media (width < 800px) {
  .navbar_container {
    width: max-content;
    padding: 0px 24px;
  }

  .navbar_logo {
    scale: 0.3;
  }

  .navbar_left {
    width: 100px;
  }

  .navbar_right {
    width: calc(100% - 100px);
    gap: 12px;
    font-size: 16px;
  }
}
