/* NAVBAR SECTION */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo {
  width: 200px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: calc(var(--content-width) - 200px);
}

.navbar-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 48px;
  list-style: none;
  width: 100%;
  font-size: 18px;
  font-family: var(--main-font);
  font-weight: 600;
  padding: 0;
}

.navbar-link {
  text-decoration: none;
  color: var(--highlight-black-color);
}

/* HERO SECTION */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-green-color);
  height: 400px;
  width: 100%;
}

.hero_container {
  width: var(--content-width);
}

/* HIGHLIGHTS SECTION */
.highlights {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
}

.highlights_container {
  width: var(--content-width);
}

/* TESTIMONIALS SECTION */
.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.testimonials_container {
  width: var(--content-width);
}

/* ABOUT SECTION */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.about_container {
  width: var(--content-width);
}

/* FOOTER SECTION */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 420px;
}

.footer_container {
  width: var(--content-width);
}

@media (width < 980px) {
  .logo {
    width: 72px;
    height: 100px;
  }

  .navbar {
    width: calc(var(--content-width) - 72px);
  }

  .navbar-list {
    gap: 18px;
    font-size: 16px;
  }
}
